.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /* justify-content: center; */
    height: 100vh;
    background-color: #f8f8f8;
}

.login_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    background-color: white;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}

.login_container > h1 { 
    /* font-weight: 500; */
    margin: 20px 0;
}

/** This will select all the h5 inside the form inside the login_container class **/
.login_container > form > h5 { 
    margin: 5px 0;
}

.login_container > form > input {
    height: 30px;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.login_container > p {
    margin: 10px 0;
    font-size: 12px;
}

.login_signInButton {
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}

.login_logo {
    width: 100px;
    margin: 0 10px;
    margin-top: 10px;
    object-fit: contain;
}

.login_registerButton {
    /* background-color: #f0c14b; */
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    border-radius: 5px;
    height: 30px;
    width: 100%;
}